<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Company example • Pico.css</title>
    <meta name="description" content="A classic company or blog layout with a sidebar. Built with Pico CSS.">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
</head>

<body>

    <!-- Hero -->
    <div class="hero" data-theme="dark">
        <nav class="container-fluid">
            <ul>
                <li><a href="./" class="contrast" onclick="event.preventDefault()"><strong>Brand</strong></a></li>
            </ul>
            <ul>
                <li>
                    <details role="list" dir="rtl">
                        <summary aria-haspopup="listbox" role="link" class="contrast">Theme</summary>
                        <ul role="listbox">
                            <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                            <li><a href="#" data-theme-switcher="light">Light</a></li>
                            <li><a href="#" data-theme-switcher="dark">Dark</a></li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details role="list" dir="rtl">
                        <summary aria-haspopup="listbox" role="link" class="contrast">Examples</summary>
                        <ul role="listbox">
                            <li><a href="../preview/">Preview</a></li>
                            <li><a href="../preview-rtl/">Right-to-left</a></li>
                            <li><a href="../classless/">Class-less</a></li>
                            <li><a href="../basic-template/">Basic template</a></li>
                            <li><a href="../company/">Company</a></li>
                            <li><a href="../google-amp/">Google Amp</a></li>
                            <li><a href="../sign-in/">Sign in</a></li>
                            <li><a href="../bootstrap-grid/">Bootstrap grid</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </nav>
        <header class="container">
            <hgroup>
                <h1>Company</h1>
                <h2>A classic company or blog layout with a sidebar</h2>
            </hgroup>
            <p><a href="#" role="button" onclick="event.preventDefault()">Call to action</a></p>
        </header>
    </div><!-- ./ Hero -->

    <!-- Main -->
    <main class="container">
        <div class="grid">

            <section>
                <hgroup> 
                    <h3>Quisque mi est</h3>
                </hgroup>
                <canvas id="canvas" width="400" height="400"></canvas>
            </section>

            <aside>
                <a href="#" aria-label="Example" onclick="event.preventDefault()"><img
                        src="assets/maarten-deckers-T5nXYXCf50I-unsplash-1500x750.jpg" alt="Architecture"></a>
                <p>
                    <a href="#" onclick="event.preventDefault()">Donec sit amet</a><br>
                    <small>Class aptent taciti sociosqu ad litora torquent per conubia nostra</small>
                </p>
                <a href="#" aria-label="Example" onclick="event.preventDefault()"><img
                        src="assets/daniel-von-appen-tb4heMa-ZRo-unsplash-1500-750.jpg" alt="Architecture"></a>
                <p>
                    <a href="#" onclick="event.preventDefault()">Suspendisse potenti</a><br>
                    <small>Proin non condimentum tortor. Donec in feugiat sapien.</small>
                </p>
                <a href="#" aria-label="Example" onclick="event.preventDefault()"><img
                        src="assets/matthew-hamilton-Ru3Ap8TNcsk-unsplash-1500-750.jpg" alt="Architecture"></a>
                <p>
                    <a href="#" onclick="event.preventDefault()">Nullam lobortis placerat aliquam</a><br>
                    <small>Maecenas vitae nibh blandit dolor commodo egestas vel eget neque. Praesent semper justo orci,
                        vel imperdiet mi auctor in.</small>
                </p>
            </aside>

        </div>
    </main><!-- ./ Main -->

    <!-- Subscribe -->
    <section aria-label="Subscribe example">
        <div class="container">
            <article>
                <hgroup>
                    <h2>Subscribe</h2>
                    <h3>Litora torquent per conubia nostra</h3>
                </hgroup>
                <form class="grid">
                    <input type="text" id="firstname" name="firstname" placeholder="First name" aria-label="First name"
                        required>
                    <input type="email" id="email" name="email" placeholder="Email address" aria-label="Email address"
                        required>
                    <button type="submit" onclick="event.preventDefault()">Subscribe</button>
                </form>
            </article>
        </div>
    </section><!-- ./ Subscribe -->

    <!-- Footer -->
    <footer class="container">
        <small>Built with <a href="https://picocss.com">Pico</a> • <a
                href="https://github.com/picocss/examples/tree/master/company/">Source code</a></small>
    </footer><!-- ./ Footer -->

    <script src="static/main.js"></script>

</body>

</html>